@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-gradient { 
  background-color:#ffe999;
  background-image:
  radial-gradient(at 16% 94%, hsla(128,76%,77%,1) 0px, transparent 50%),
  radial-gradient(at 64% 66%, hsla(100,68%,64%,1) 0px, transparent 50%),
  radial-gradient(at 69% 50%, hsla(20,95%,76%,1) 0px, transparent 50%),
  radial-gradient(at 16% 0%, hsla(276,77%,78%,1) 0px, transparent 50%),
  radial-gradient(at 16% 65%, hsla(205,61%,78%,1) 0px, transparent 50%),
  radial-gradient(at 46% 8%, hsla(68,62%,68%,1) 0px, transparent 50%),
  radial-gradient(at 51% 14%, hsla(90,86%,68%,1) 0px, transparent 50%);
}



.text-gradient {
  background-color: #fff;
  background-image: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

